{% extends "base.html" %}

{% block title %}Кафедри - Факультет правничих наук{% endblock %}

{% block content %}
<h1>Кафедри факультету</h1>

    {% for department in departments %}
       <div class="card">
            <h3><a href="{% url 'department_detail' department.id %}" style="color: var(--primary-color); text-decoration: none;">{{ department.name }}</a></h3>
            <p><strong>Завідувач кафедри:</strong> {{ department.head }}</p>
            <p><strong>Випускові спеціальності:</strong> 
                {% for spec in department.specialties.all %}
                    <a href="{% url 'program_detail' spec.id %}">{{ spec.name }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Немає прив'язаних спеціальностей
                {% endfor %}
            </p>
        </div>
    {% empty %}
        <div class="card">Поки що немає доступних кафедр.</div>
    {% endfor %}
{% endblock %}