{% extends "base.html" %}

{% block title %}Програми академічного обміну - Факультет правничих наук{% endblock %}

{% block content %}
    <h1>Програми академічного обміну</h1>
    
    <table class="styled-table">
        <thead>
            <tr>
                <th>Університет</th>
                <th>Країна</th>
                <th>Мови навчання</th>
                <th>Кількість місць</th>
                <th>Дедлайн</th>
                <th>Статус</th>
                <th>Опис</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
                <tr>
                    <td><strong>{{ program.university }}</strong></td>
                    <td>{{ program.country }}</td>
                    <td>{{ program.languages }}</td>
                    <td>{{ program.slots }}</td>
                    <td>{{ program.deadline|date:"d.m.Y" }}</td>
    
                    <td>
                        {% if program.is_active %}
                            <span style="color: green; font-weight: bold;">Прийом триває</span>
                        {% else %}
                            <span style="color: red; font-weight: bold;">Прийом завершено</span>
                        {% endif %}
                    </td>
                <td> {{program.description}} </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Поки що немає доступних програм обміну.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}